@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--primary-color: #d65c22;
	--primary-color-hover: #b04c1c;
	--secondary-color: #4c6d33;
	--secondary-color-hover: #34511d;

	--text-color: #232323;

	--max-width: 1200px;
}

* {
	font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(#f2f2f2, #e1e1e1);
	color: var(--text-color);
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

.MaxWidthWrapper {
	max-width: var(--max-width);
	margin: 0 auto;
}
